@import url('https://webfontworld.github.io/locus/LocusSangsang.css');
@import url('https://webfontworld.github.io/Healthset/HealthsetGothic.css');
@import url('https://webfontworld.github.io/suncheon/Suncheon.css');
@import url('https://webfontworld.github.io/leferi/LeferiBase.css');
@import url('https://webfontworld.github.io/vitro/VitroPride.css');
@import url('https://webfontworld.github.io/utoImagegothic/UtoImageGothic.css');
@import url('https://webfontworld.github.io/locus/LocusSangsang.css');
@import url('https://webfontworld.github.io/binggrae/Binggrae.css');
@import url('https://webfontworld.github.io/cookierun/CookieRun.css');
@import url('https://webfontworld.github.io/tway/TwayFly.css');



/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
a {
    text-decoration: none;
    color: #222;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
    font-weight: 300;
}
.font01 {
    font-family: 'LocusSangsang';
}
.font02{
    font-family: 'HealthsetGothic';
}
.font03{
    font-family: 'Suncheon';
}
.font04{
    font-family: 'LeferiBase';
}
.font05{
    font-family: 'VitroPride';
}
.font06{
    font-family: 'UtoImageGothic';
}
.font07{
    font-family: 'LocusSangsang';
}
.font08{
    font-family: 'Binggrae';
}
.font09{
    font-family: 'CookieRun';
}
.font10{
    font-family: 'TwayFly';
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}
body.img01 {
    background-image: url(../img/sliderEffect01-min.jpg);
}
body.img02 {
    background-image: url(../img/sliderEffect02-min.jpg);
}
body.img03 {
    background-image: url(../img/sliderEffect03-min.jpg);
}
body.img04 {
    background-image: url(../img/sliderEffect04-min.jpg);
}
body.img05 {
    background-image: url(../img/sliderEffect05-min.jpg);
}
body.img06 {
    background-image: url(../img/sliderEffect06-min.jpg);
}
body.img07 {
    background-image: url(../img/sliderEffect07-min.jpg);
}
body.img08 {
    background-image: url(../img/sliderEffect08-min.jpg);
}
body.img09 {
    background-image: url(../img/sliderEffect09-min.jpg);
}
body.img10 {
    background-image: url(../img/sliderEffect10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(5, 36, 70, 0.87);
    z-index: -1;
}
body.bg01::after {
    background: rgba(34, 5, 70, 0.87);
}
body.bg02::after {
    background: rgba(167, 53, 142, 0.87);
}
body.bg03::after {
    background: rgba(13, 98, 109, 0.97);
}
body.bg04::after {
    background: rgba(64, 109, 13, 0.87);
}
body.bg05::after {
    background: rgba(85, 80, 11, 0.87);
}
body.bg06::after {
    background: rgba(184, 83, 15, 0.87);
}
body.bg07::after {
    background: rgba(39, 33, 128, 0.87);
}
body.bg08::after {
    background: rgba(109, 13, 45, 0.87);
}
body.bg09::after {
    background: rgba(13, 109, 69, 0.87);
}
body.bg10::after {
    background: rgba(109, 13, 13, 0.87);
}