#load {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/images/start.png);
    

    .load__wrap {

      .load__inner {
        width: 60vw;
        height: 60vh;
        background-color: var(--bg_section);
        margin: 0 auto;
        padding: 10vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
     
        p {
          width: 40vw;
          text-align: center;
          text-transform: uppercase;
          font-family: "DM Sans";
          letter-spacing: -0.04em;
          font-size: 1.2vw;
          font-weight: 400;
          line-height: 120%;
        }
        .load__letter {
            margin: 0 auto;
            padding: 10px;
        }
  
        .load__btn {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          margin-top: 20px;
          
          a {
            color: #4B8FB6;
            border-bottom: 1px solid #4B8FB6;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
  