//port__wrap 
.port__wrap {}
.port__inner {
    .port__btn {
        margin-bottom: 20px;
        ul {
            display: flex;
            justify-content: center;
            li {
                a {
                    border: 1px solid #000;
                    display: inline-block;
                    padding: 5px 20px;
                    margin: 0 5px;
                    border-radius: 40px;
                }
            }
        }
    }

    .port__cont {
        @include flex-between;
        flex-wrap: wrap;

        .port {
           width: 32.2222%;
           margin-bottom: 30px;

           .port__body {
                display: flex;
                align-items: center;
                margin-top: 10px;
                text-align: left;

                .pic {
                    width: 50px;
                    height: 50px;
                    margin: 15px 10px;
                    border-radius: 50px;

                    
                    img {
                        border-radius: 30px;
                        width: 50px;
                        height: 50px;
                    }
                }
                
                
                .title {
                    h4 {
                        font-size: 24px;
                        text-align: left;
                    }
                    span {
                        font-size: 16px;
                        color: #2C3A4B;
                    }
                }
            }
            img {
                border-radius: 10px;
                width: 100%;
            }
            &:nth-child(1) .port__body .pic {
               background-color: #B9D1FF;
            }
            &:nth-child(2) .port__body .pic {
                background-color: #B9EEFF;
            }
            &:nth-child(3) .port__body .pic {
                background-color: #FFB9CA;
            }
            &:nth-child(4) .port__body .pic {
                background-color: #F5FFB9;
            }
            &:nth-child(5) .port__body .pic {
                background-color: #CBFFB9;
            }
            &:nth-child(6) .port__body .pic {
                background-color: #F5B9FF;
            }
            &:nth-child(4) {
                margin-bottom: 0;
            }
            &:nth-child(5) {
                margin-bottom: 0;
            }
            &:nth-child(6) {
                margin-bottom: 0;
            }
        }
    }


}
