@import url('https://webfontworld.github.io/gonggames/EsaManru.css');
@import url('https://webfontworld.github.io/sebang/SebangGothic.css');

body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: cover;
    overflow: hidden;
    background-position: center;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#result {
    width: 60%;
    align-items: center;
    background-color: rgba(98, 98, 98, 0.632);
    color: #fafdff;
    padding: 20px;
    border-radius: 10px;
}

.quote {
    font-family: "EsaManru";
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.author {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-style: italic;
    font-family: "SebangGothic";
    text-align: center;
}